.four.columns
  %h2 
    Edit Account Info
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
    = f.error_notification
    
    %hr
    %h5 Club Information
    = f.input :club_name, :readonly => true
    = f.input :email, :readonly => true
    
    %hr
    %h5 Change Password
    = f.input :password, :autocomplete => "off", :placeholder => "Leave this field blank to keep your current password.", :required => false
    = f.input :password_confirmation, :placeholder => "Leave this field blank to keep your current password.", :required => false

    %hr
    %h5 Save Changes
    = f.input :current_password, :placeholder => "Type your current password to save changes.", :required => true
    = f.button :submit, 'Update', :class => 'button'

.four.columns
  %h2 Edit Your Tags
  %hr
    %h6.grey Tags are words that describe your club. They will be used to suggest restaurants for your events.
    #existing-tags
      - @user.tags.each do |tag|
        %div{:id => "tag-" + tag.id.to_s, :style => "padding:5px;"}
          %i{:class => "general foundicon-star"}
          %span.bold
            = tag.name
          %span.right-align
            = link_to "Delete", "#", :id => tag.id.to_s, :class => "delete-tag", data: {confirm: "Are you sure you want to delete this tag?"}
          %br
    = form_tag do
      %i{:class => "general foundicon-plus add tags"}
      = text_field_tag(@user.id, nil, :placeholder => 'Type in a new tag for your club.', :class => "new-tag")

.four.columns
  %h2 Cancel my account
  %hr
  %p
    Unhappy? 
  %p
    = link_to "Cancel your account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete

.twelve.columns
  = link_to "Back", :back

:javascript
  $(".new-tag").keypress(function(e) {
    if (e.which == 13) {
      var text = $(this).val();
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/tags",
        data: "name=" + text,
        success: $.proxy(function(data) {
          $(this).val('');
          var div_start = '<div id="tag-' + data.id + '"" style="padding:5px;">';
          var icon_code = '<i class="general foundicon-star"></i>';
          var text_code = '<span class="bold">&nbsp;' + text + '</span>';
          var delete_button = '<span class="right-align"><a href="#" class="delete-tag" id="' + data.id + '" data-confirm="Are you sure you want to delete this tag?">Delete</a></span>';
          var ending = '<br></div>';

          $(div_start + icon_code + text_code + delete_button + ending).hide().appendTo("#existing-tags").fadeIn(800);
        }, this)
      });
    }
  });

  $(".delete-tag").live('click', function() {
    var tag_id = $(this).attr('id');
    $.ajax({
      type: "DELETE",
      url: "/tags/" + tag_id,
      success: $.proxy(function() {
        $("#tag-" + tag_id).fadeOut(300, function() {
          $(this).remove();
        })
      }, this)
    });
    return false;
  });

  $("div[id|='tag']").live({
    mouseenter:
      function() {
        $("a.delete-tag", this).show();
        $(this).css("background", '#e0e0e0');
      },
    mouseleave:
      function() {
        $("a.delete-tag", this).hide();
        $(this).css("background", 'transparent');
      }
  });