.content.panel{:style => 'padding-bottom:30px;'}
  .four.columns.centered
    %h2.center Create A Budget
  .row
    .eight.columns.offset-by-two.end
      = form_tag do
        .row
          .one.column
            %i{:class => "general foundicon-plus add dashboard add_budget", :style => "cursor: hand; cursor: pointer;"}
          .five.columns
            = text_field_tag(@event.id, nil, :placeholder => 'Type in a new budget item', :class => "new-budget-item")
          .five.columns.end
            .row.collapse
              .two.columns
                %span{:class => 'prefix', :id => 'new-budget-item-prefix'} $$
              .eight.columns.end
                = text_field_tag(@event.id, nil, :class => 'new-budget-item-value')
  #budget-item-container.eight.columns.centered
    - @b_items.each do |b|
      .row{:id => "budget-item-#{b.id}"}
        .one.column
          %i{:class => "general foundicon-minus add dashboard delete_budget", :id=> "#{b.id}", :style => "cursor: hand; cursor: pointer;"}
        .four.columns
          %p{:class => 'b_item_title', :id => "#{b.id}"}= b.title
        .one.column
          %p +
        .three.columns
          %p{:class => 'b_item_value', :id => "#{b.id}"}= '$'+ b.value.to_s
        .one.column.end
          %p{:class => 'b_item_percentage', :id => "#{b.id}"}
  %hr
  #budget-summary.eight.columns.centered.end
    .row
      .five.columns.offset-by-one
        %p Event Total Cost:
      .three.columns
        %p{:id => "budget_sum"}= '$' + @sum.to_s
      .one.column.end
        %p 100.00%
    %br
  .eight.columns.centered.pie-chart
    #pie_chart
