.content.panel{:style => 'padding-bottom:30px;'}
  .four.columns.centered
    %h2.center Create A Budget
  .row
    .eight.columns.offset-by-two.end
      = form_tag do
        .row
          .one.column
            %i{:class => "general foundicon-plus add dashboard add_budget", :style => "cursor: hand; cursor: pointer;"}
          .five.columns
            = text_field_tag(@event.id, nil, :placeholder => 'Type in a new budget item', :class => "new-budget-item")
          .five.columns.end
            .row.collapse
              .two.columns
                %span{:class => 'prefix', :id => 'new-budget-item-prefix'} $$
              .eight.columns.end
                = text_field_tag(@event.id, nil, :class => 'new-budget-item-value')
  #budget-item-container.eight.columns.centered
    - @b_items.each do |b|
      .row{:id => "budget-item-#{b.id}"}
        .one.column
          %i{:class => "general foundicon-minus add dashboard delete_budget", :id=> "#{b.id}", :style => "cursor: hand; cursor: pointer;"}
        .four.columns
          %p{:class => 'b_item_title', :id => "#{b.id}"}= b.title
        .one.column
          %p +
        .three.columns
          %p{:class => 'b_item_value', :id => "#{b.id}"}= '$'+ b.value.to_s
        .one.column.end
          %p{:class => 'b_item_percentage', :id => "#{b.id}"}
  %hr
  #budget-summary.eight.columns.centered.end
    .row
      .five.columns.offset-by-one
        %p Event Total Cost:
      .three.columns
        %p{:id => "budget_sum"}= '$' + @sum.to_s
      .one.column.end
        %p 100.00%
    %br
  .eight.columns.centered.pie-chart
    #pie_chart

:javascript
  function submit_new_budget_item(e) {
      if (e.which == 13 && validate_budget_input()) {
        var event_id = $('.new-budget-item').attr('id');
        var title = $('.new-budget-item').val();
        var value = $('.new-budget-item-value').val();
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "/budget_items",
          data: "title=" + title + "&id=" + event_id + "&value="+ value,
          success: function(data) {
            $('.new-budget-item').val('');
            $('.new-budget-item-value').val('');
            var div_start = '<div class="row" id="budget-item-' + data.id + '">'
            var icon_code = '<div class="one column"><i class="general foundicon-minus add dashboard delete_budget" id="' + data.id + '" style="cursor: hand; cursor: pointer;"></i></div>'
            var text_code = '<div class="four columns"><p class="b_item_title" id="' + data.id + '">' + title + '</p></div><div class="one column"><p>+</p></div>'
            var value_code = '<div class="three columns"><p class="b_item_value" id="' + data.id + '">' + accounting.formatMoney(value) + '</p></div>'
            var percentage_code = '<div class= "one column end"><p class="b_item_percentage" id="' + data.id + '"></p></div>'
            var ending = '</div>'
            $(div_start + icon_code + text_code + value_code +percentage_code+ ending).hide().appendTo("#budget-item-container").fadeIn(800);
            bind_delete_button();
            b_map[data.id] = parseFloat(value);
            recompute_numbers(parseFloat(value),true);
            pie_chart.series[0].addPoint([title,parseFloat(value)],true);
          }
        });
      }
    };

  $(".new-budget-item").keypress(function(e){
    submit_new_budget_item(e);
  });
  $(".new-budget-item-value").keypress(function(e){
    submit_new_budget_item(e);
  });
  $(".add_budget").click(function(){
    var event = jQuery.Event("keypress");
    event.which = 13;
    $(".new-budget-item").trigger(event);
  })

  function bind_delete_button(){
    $('.delete_budget').click(function(e){
      var end = confirm('Are you sure you want to delete this item?')
      if (end){
       $.ajax({
               type: "DELETE",
               url: "/budget_items/" + $(this).attr('id')
             });
       id = $(this).attr('id');
       /*var deleted_title = "";
       $('.b_item_title').each(function(){
          if ($(this).attr('id') == id){
            deleted_title = $(this).text();
          }
        });
       console.log(deleted_title);
       for ( i = 0; i < pie_chart.series[0].data.length; i++){
        p_slice = pie_chart.series[0].data[i];
        console.log(p_slice);
        if (p_slice.x == deleted_title){ p_slice.remove();}
       }*/
       x = '#budget-item-' + $(this).attr('id');
       $(x).fadeOut(300, function() {
                 $(this).remove();
                 setup_pie_chart_data();
                 pie_chart.series[0].setData(pie_chart_array);
               });
       console.log(pie_chart_array);
       recompute_numbers(b_map[$(this).attr('id')],false);
       delete b_map[$(this).attr('id')];
      }
    });
  }
  bind_delete_button();

  //Load the sum and b_map variables
  var sum = parseFloat($('#budget_sum').text().substring(1));
  $('#budget_sum').text(accounting.formatMoney($('#budget_sum').text().substring(1)));
  var b_map = {};
  $('.b_item_value').each(function(){
    b_map[$(this).attr('id')]= parseFloat($(this).text().substring(1));
    $(this).text(accounting.formatMoney($(this).text().substring(1)));
  });

  // Recomputes and displays new sum and percentages, code: true => add, false => remove
  function recompute_numbers(new_value, code){
    if (code){
      sum += parseFloat(new_value);
    }
    else{
      sum = sum - parseFloat(new_value);
    }

    $('#budget_sum').text(accounting.formatMoney(sum));
    $('.b_item_percentage').each(function(){
      new_percentage = (100 * b_map[$(this).attr('id')] / sum).toFixed(2);
      $(this).text(String(new_percentage) + '%');
    });
  }
  //Setup intital percentages
  recompute_numbers(0,true);

  //validate the new budget item form
  function validate_budget_input(){
    title = $(".new-budget-item").val();
    value = $(".new-budget-item-value").val();
    number =  ! isNaN (value-0);
    if (number){
      $(".new-budget-item-value").removeClass("error");
      $("#new-budget-item-prefix").removeClass("error");
      return true
    }
    $(".new-budget-item").focus();
    $(".new-budget-item-value").addClass("error");
    $("#new-budget-item-prefix").addClass("error");
    return false

  }

  function setup_pie_chart_data(){
      pie_chart_array = [];
      $('.b_item_title').each(function(){
        pie_chart_array.push([$(this).text(),b_map[$(this).attr('id')]]);
      });
      console.log(pie_chart_array);
  }

  //setup pie chart
  var pie_chart;
  var pie_chart_array = [];
  function setup_pie_chart(){
    setup_pie_chart_data();
    pie_chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pie_chart',
                    backgroundColor: "#F2F2F2",
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Your Budget'
                },
                tooltip: {
            	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                	percentageDecimals: 1
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function() {
                                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: pie_chart_array
                }]
            });
  }
  $('.content.panel').ready(function(){
    setup_pie_chart();
  });



