.six.columns.centered
  %h1= current_user.club_name + " Dashboard"
  %hr

  %ul.accordion
    - current_user.events.each_with_index do |event, index|
      %li{:class => "#{index == 0 ? 'active' : ''}"}
        .title
          %h5= event.title
        .content
          = event.location


-#
  .six.columns
    #calendar

  .six.columns
    %h3 Events
    .event-table
      .six.columns.centered
        %bootstrap
          %table.table
            %thead
              %tr
                %th Title
                %th Location
            %tbody
              - @user.events.each do |event|
                - if event.title
                  %tr
                    %td 
                      = event.title
                    %td
                      = event.location

    %fieldset 
      %legend Create Event
      = simple_form_for(@event, :html => {:class => 'form-vertical' }) do |f|
        .six.columns
          = f.input :title, :autofocus => true
        .six.columns
          = f.input :location
        %ul.right
          = f.button :submit, "Create", :class => 'small button'