.eight.columns.centered
  %h1= current_user.club_name + " Dashboard"
  %hr

  .no-bullet-area
    %ul
      - if current_user.events.count == 0
        .panel
          %h3.subtitle You currently don't have any events - make one!
      - else
        - current_user.events.reverse.each_with_index do |event, index|
          .panel
            %li{:class => "#{index == 0 ? 'active' : ''}"}
              .title
                %h3= event.title
                %h5.subtitle= event.location
              .content
                %div{:class => "existing-checklist-items-" + event.id.to_s}
                  - event.checklist_items.each do |checklist_item|
                    %i{:class => "general #{checklist_item.checked? ? 'foundicon-checkmark checked' : 'foundicon-remove unchecked'}", :id => checklist_item.id}
                    %span{:class => "#{checklist_item.checked? ? 'strikethrough' : 'bold'}"}
                      = checklist_item.text
                    %br
                = form_tag do
                  %i.general.foundicon-plus
                  = text_field_tag(event.id, nil, :placeholder => 'Type in a new checklist item for this event.', :class => "new-checklist-item")


:javascript
  $(".foundicon-checkmark, .foundicon-remove").live('click', function() {
    $.ajax({
      type: "POST",
      url: "/checklist_item/" + $(this).attr("id") + "/toggle_checked",
      success: $.proxy(function() {
        $(this).toggleClass("foundicon-checkmark foundicon-remove").toggleClass("checked unchecked");
        $(this).next().toggleClass("strikethrough bold");
      }, this)
    });
  });

  $(".new-checklist-item").keypress(function(e) {
    if (e.which == 13) {
      var event_id = $(this).attr('id');
      var text = $(this).val();
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/checklist_items",
        data: "text=" + text + "&event_id=" + event_id,
        success: $.proxy(function(data) {
          $(this).val('');
          var icon_code = '<i class="general foundicon-remove unchecked" id="' + data.id + '"></i>'
          var text_code = '<span class="bold">' + text + '</span>'
          var ending = '<br>'
          $(".existing-checklist-items-" + event_id).append(icon_code + text_code + ending);
        }, this)
      });
    }
  });

-#
  .six.columns
    #calendar

  .six.columns
    %h3 Events
    .event-table
      .six.columns.centered
        %bootstrap
          %table.table
            %thead
              %tr
                %th Title
                %th Location
            %tbody
              - @user.events.each do |event|
                - if event.title
                  %tr
                    %td 
                      = event.title
                    %td
                      = event.location

    %fieldset 
      %legend Create Event
      = simple_form_for(@event, :html => {:class => 'form-vertical' }) do |f|
        .six.columns
          = f.input :title, :autofocus => true
        .six.columns
          = f.input :location
        %ul.right
          = f.button :submit, "Create", :class => 'small button'