.eight.columns.centered
  .one.columns.dashboard-title
    %i.general.foundicon-graph
  .eight.columns.dashboard-title
    %h1.dashboard-title
      Events Dashboard
  .three.columns.dashboard-title
    = button_to "+ Create New Event", "/new_event", :class => "success button", :style => "align:right;", :id => "createEventModalButton"
  %hr
  .twelve.columns
    .no-bullet-area
      %ul
        - if current_user.events.count == 0
          .panel
            %h3.subtitle You currently don't have any events - make one!
        - else
          - current_user.events.order("id DESC").each_with_index do |event, index|
            .panel.radius
              %li{:class => "#{index == 0 ? 'active' : ''}"}
                .title
                  %h3
                    = event.title
                  %h6.subtitle
                    - if event.time_block.starttime != DateTime.new(1,1,1,1,1)
                      = event.time_block.starttime.strftime("%m/%d/%Y %I:%M %p") + " to " + event.time_block.endtime.strftime("%m/%d/%Y %I:%M %p")
                    - else
                      No time set for event yet.
                %hr
                .content
                  %div{:id => "existing-checklist-items-" + event.id.to_s}
                    - event.checklist_items.order("id").each do |checklist_item|
                      %div{:id => "checklist-item-" + checklist_item.id.to_s, :style => "padding-left:10px;"}
                        %i{:class => "general #{checklist_item.checked? ? 'foundicon-checkmark checked' : 'foundicon-remove unchecked'}", :id => checklist_item.id, :type => "checklist"}
                        %span{:class => "#{checklist_item.checked? ? 'strikethrough' : 'bold'}"}
                          - if checklist_item.tag == 'datetime'
                            = link_to checklist_item.text, "/settime/#{event.id}", :class => "checklist-link"
                          - elsif checklist_item.tag == 'filemanager'
                            = link_to checklist_item.text, event_uploads_path(event), :class => "checklist-link"
                          - elsif checklist_item.tag == 'publicity'
                            = link_to checklist_item.text, publicity_event_path(event), :class => "checklist-link"
                          - elsif checklist_item.tag == 'food'
                            = link_to checklist_item.text, "/events/#{event.id}/yelp", :class => "checklist-link"
                          - elsif checklist_item.tag == 'copytech'
                            = link_to checklist_item.text, "http://copytech-print.mit.edu/fulfillment/login", :class => "checklist-link", :target => "_blank" 
                          - elsif checklist_item.tag == 'budget'
                            = link_to checklist_item.text, "/budget_items?id=" + event.id.to_s, :class => "checklist-link"
                          - else
                            %span{:class => "editableitem", :id => checklist_item.id.to_s}
                              = checklist_item.text
                        %span.right-align
                          = link_to "Delete", "#", :id => checklist_item.id.to_s, :class => "delete-checklist-item", data: {confirm: "Are you sure you want to delete this checklist item?"}
                        %br
                  %i{:class => "general foundicon-plus add dashboard"}
                  = text_field_tag(event.id, nil, :placeholder => 'Type in a new checklist item for ' + event.title + ".", :class => "new-checklist-item")
                .footer
                  %hr
                  = link_to "Delete Event", event, method: :delete, data: {confirm: 'Are you sure?' }

#createEventModal.reveal-modal.medium
  %h2 Create a New Event
  = simple_form_for @event, :url => "/events" do |f|
    = f.error_notification
    = f.input :title
    = f.input :description

    = f.submit 'Create Event', :class => 'button'
  %a.close-reveal-modal x