.eight.columns.centered
  %h1 Events Dashboard
  %hr
  = button_to "+ Create New Event", "/new_event", :class => "success button"
  .no-bullet-area
    %ul
      - if current_user.events.count == 0
        .panel
          %h3.subtitle You currently don't have any events - make one!
      - else
        - current_user.events.order("id DESC").each_with_index do |event, index|
          .panel.radius
            %li{:class => "#{index == 0 ? 'active' : ''}"}
              .title
                %h3
                  = event.title
                %h6.subtitle
                  - if event.time_block != nil
                    = event.time_block.starttime.strftime("%m/%d/%Y %I:%M %p") + " to " + event.time_block.endtime.strftime("%m/%d/%Y %I:%M %p")
                  - else
                    No time set for event yet.
              %hr
              .content
                %div{:id => "existing-checklist-items-" + event.id.to_s}
                  - event.checklist_items.each do |checklist_item|
                    %div{:id => "checklist-item-" + checklist_item.id.to_s, :style => "padding-left:10px;"}
                      %i{:class => "general #{checklist_item.checked? ? 'foundicon-checkmark checked' : 'foundicon-remove unchecked'}", :id => checklist_item.id}
                      - if checklist_item.tag == 'datetime'
                        %span{:class => "#{checklist_item.checked? ? 'strikethrough' : 'bold'}"}
                          = link_to checklist_item.text, "/settime/#{event.id}", :class => "datetime-link"
                      - elsif checklist_item.tag == 'publicity'
                        %span{:class => "#{checklist_item.checked? ? 'strikethrough' : 'bold'}"}
                          = link_to checklist_item.text, event_uploads_path(event), :class => "datetime-link"
                      - else
                        %span{:class => "#{checklist_item.checked? ? 'strikethrough' : 'bold'}"}
                          = checklist_item.text
                      %span.right-align
                        = link_to "Delete", "#", :id => checklist_item.id.to_s, :class => "delete-checklist-item", data: {confirm: "Are you sure you want to delete this checklist item?"}
                      %br
                = form_tag do
                  %i{:class => "general foundicon-plus add", :style => "padding-left:10px;"}
                  = text_field_tag(event.id, nil, :placeholder => 'Type in a new checklist item for this event.', :class => "new-checklist-item")
              .footer
                %hr
                = link_to "Delete Event", event, method: :delete, data: {confirm: 'Are you sure?' }


:javascript
  $(".foundicon-checkmark, .foundicon-remove").live('click', function() {
    $.ajax({
      type: "POST",
      url: "/checklist_item/" + $(this).attr("id") + "/toggle_checked",
      success: $.proxy(function() {
        $(this).toggleClass("foundicon-checkmark foundicon-remove").toggleClass("checked unchecked");
        $(this).next().toggleClass("strikethrough bold");
      }, this)
    });
  });

  $(".new-checklist-item").keypress(function(e) {
    if (e.which == 13) {
      var event_id = $(this).attr('id');
      var text = $(this).val();
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/checklist_items",
        data: "text=" + text + "&event_id=" + event_id,
        success: $.proxy(function(data) {
          $(this).val('');
          var div_start = '<div id="checklist-item-' + data.id + '" style="padding-left:10px;">'
          var icon_code = '<i class="general foundicon-remove unchecked" id="' + data.id + '"></i>'
          var text_code = '<span class="bold">&nbsp;' + text + '</span>'
          var delete_button = '<span class="right-align"><a href="#" class="delete-checklist-item" id="' + data.id + '" data-confirm="Are you sure you want to delete this checklist item?">Delete</a></span>'
          var ending = '<br></div>'
          $(div_start + icon_code + text_code + delete_button + ending).hide().appendTo("#existing-checklist-items-" + event_id).fadeIn(800);
        }, this)
      });
    }
  });

  $(".delete-checklist-item").live('click', function() {
    var checklist_id = $(this).attr('id');
    $.ajax({
      type: "DELETE",
      url: "/checklist_items/" + checklist_id,
      success: $.proxy(function() {
        $("#checklist-item-" + checklist_id).fadeOut(300, function() {
          $(this).remove();
        })
      }, this)
    });

    return false;
  });

  $("div[id|='checklist-item']").live({
    mouseenter:
      function() {
        $("a.delete-checklist-item", this).show();
        $(this).css("background", '#e0e0e0');
      },
    mouseleave:
      function() {
        $("a.delete-checklist-item", this).hide();
        $(this).css("background", 'transparent');
      }
  });