.eight.columns.centered
  %h2 Send a Publicity Email
  = simple_form_for [@event, @event.publicity_emails.new] do |f|
    = f.error_notification
    = f.input :subject
    = f.input :content, :input_html => {:class => "redactor", :id => @event.id}

    = f.submit 'Send Email'
