var content = "";
var max_pages = parseInt("<%= @search_results['total']%>");
<% max_pages = (@search_results['total']/10.0).ceil %>
content += "<div class='twelve columns page-nav'>";
content += "<a href='#' class='small button radius previous'><< Previous</a>";
content += "<span class='page-count'>";
content += "Page <%= @page.to_s %> of <%= max_pages %>";
content += "</span>";
content += "<a href='#' class='small button radius next'>Next >></a>";
content += "</div>";

<% @search_results["businesses"].each do |business|%>
  content += "<div class='three columns business-image'>";
  <% if business['image_url'].nil? %>
    content += "<a href='<%= business['url']%>' class='iframe'><img src='/assets/no_image.png'></a>";
  <% else %>
    content += "<a href='<%= business['url']%>' class='iframe'><img src='<%= business['image_url'] %>'></a>";
  <% end %>
  content += "</div>";
  content += "<div class='nine columns business-info'>";
  content += "  <span class='business-name'>";
  content += "    <a href='<%= business['url'] %>' class='iframe'><%= business['name'] %></a>";
  content += "  </span>";
  content += "  <span class='business-rating'>";
  content += "    <img class='business-rating-image' src='<%= business['rating_img_url']%>' />";
  content += "    <span class='business-rating-count'>";
  content += "      (<%= business['review_count'].to_s%> reviews)";
  content += "    </span>";
  content += "  </span>";
  content += "  <br>";
  content += "  <span class='business-address'>";
  <% if business['location']['display_address'].nil? %>
    content += "No business address listed for this restaraunt.";
    content += "<br>";
  <% else %>
    <% business['location']['display_address'].each do |address_part| %>
      content += "<%= address_part %>";
      content += "<br>";
    <% end %>
  <% end %>
  content += "  </span>";
  content += "  <span class='business-phone'>";
  <% if business['phone'].nil? %>
    content += "    No phone number listed."
  <% else %>
    var phone_number = "<%= business['phone']%>";
    content += "(" + phone_number.slice(0, 3) + ") " + phone_number.slice(3, 6) + "-" + phone_number.slice(6,10);
  <% end %>
  content += "  </span>";
  content += "</div>";
  content += "<hr>";
<% end %>

content += "<div class='twelve columns next-button'>";
content += "<a href='#' class='small button radius next'>Next >></a>";
content += "</div>";


$(".yelp-search-results").append(content);
$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});

<% if @page < max_pages %>
  $(".next").click(function() {
    $(".yelp-search-results").empty();
    $.ajax({
      type: "POST",
      url: "/events/yelp_search",
      data: "search_term=<%= @search_term %>&search_zip=<%= @search_zip%>&page=<%= (@page+1).to_s %>"
    })
  });
<% end %>

<% if @page > 1 %>
  $(".previous").click(function() {
    $(".yelp-search-results").empty();
    $.ajax({
      type: "POST",
      url: "/events/yelp_search",
      data: "search_term=<%= @search_term %>&search_zip=<%= @search_zip%>&page=<%= (@page-1).to_s %>"
    })
  });
<% end %>
