%nav.top-bar
  %ul
    %li.name
      %h1 
        = link_to "MIT Event+", root_path
  %ul.right
    - if !user_signed_in?
      %li
        = link_to 'Sign up', new_user_registration_path
      %li
        = link_to 'Login', new_user_session_path
    - else
      %li.has-dropdown
        %a.active{:href => "#"}
          %i.general.foundicon-settings 
          Account 
        %ul.dropdown{:style => "width: 117px;"}
          %li
            = link_to 'Edit account', edit_user_registration_path
          %li
            = link_to 'Logout', destroy_user_session_path, :method=>'delete'
