!!!
%html
  %head
    = csrf_meta_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "MIT Event+"
      %meta{:content => content_for?(:description) ? yield(:description) : "Risd", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %header
        = render 'layouts/navigation'
      #main{:role => "main"}
        .twelve.columns.centered
          = render 'layouts/messages'
        = yield
      %footer
      #loginModal.reveal-modal.medium
        %h2 Sign in
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
          = f.input :email, :autofocus => true, :placeholder => "Club exec email"
          = f.input :password
          = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
          = f.button :submit, "Sign in", :class => 'button'
        = render "devise/shared/links"
        %a.close-reveal-modal x